---
import Footer from "../components/Footer";
import Header from "../components/Header";
import logo from "../assets/ciralogo.svg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href={logo.src} />
    <meta name="generator" content={Astro.generator} />
    <title>Cira | Connect. Create. Cultivate.</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
